.posts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.post a {
  text-decoration: none;
}

.noPosts {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
  color: white;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
  color: white;
}